<div class="modal fade" id="modal-1">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal"><i class="fa fa-close fa-lg"></i></button>

                    <h4 class="modal-title">Видалення</h4>
                </div>
                <div class="modal-body">
                    <p>Ви впевнені, що хочете відправити цей запис в архів</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal" ng-click="delete(todelete)">
                        Так
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Ні
                    </button>
                </div>
            </div>
        </div>
    </div>