<!DOCTYPE html>
<html lang="ua">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Реєстр підприємств-банкрутів</title>
    <!-- Bootstrap -->

{#    <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />#}
{#    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>#}
    <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap/bootstrap-theme.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'css/validation.css' %}" rel="stylesheet" />

    <script src="{% static 'js/jquery-1.12.2.js' %}"></script>
    <script src="{% static 'js/angular/angular.js' %}"></script>
    <script src="{% static 'js/angular/angular-resource.js' %}"></script>
    <script src="{% static 'js/angular/angular-mocks.js' %}"></script>
    <script src="{% static 'js/angular/angular-route.js' %}"></script>
    <script src="{% static 'js/angular/ui-bootstrap-tpls-0.13.0.js' %}"></script>
    <script src="{% static 'js/angular/smart-table.js' %}"></script>
    <script src="{% static 'app/app.js' %}"> </script>
    <script src="{% static 'app/controllers/JudgeCtrl.js' %}"> </script>
    <script src="{% static 'app/controllers/DebterCtrl.js' %}"> </script>
    <script src="{% static 'app/controllers/ComissionerCtrl.js' %}"> </script>
    <script src="{% static 'app/controllers/CourtCtrl.js' %}"> </script>
    <script src="{% static 'app/controllers/ActCtrl.js' %}"> </script>
    <script src="{% static 'app/controllers/GraphCtrl.js' %}"> </script>
    <script src="{% static 'app/controllers/DetailsCtrl.js' %}"> </script>
    <script src="{% static 'app/directives/customSearch.js' %}"> </script>
    <script src="{% static 'app/filters/actSearch.js' %}"> </script>


    <script src="{% static 'app/services/actData.js' %}"> </script>
    <script src="{% static 'app/services/dataStripper.js' %}"> </script>
    <script src="{% static 'app/services/detailsModal.js' %}"> </script>

    <style>
        .pointer{
            cursor: pointer;
        }
    </style>
</head>
<body ng-app="Bankrupt" >


<div ng-include="'/static/app/views/nav.html'"></div>

<div ng-view></div>



<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
