    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Інформація про суд</h3>
                    </div>
                    <br>
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive">
                            <tr>
                                <td>Найменування суду</td>
                                <td>{{ item.name }}</td>
                            </tr>
                            <tr>
                                <td>Адреса</td>
                                <td>{{ item.address }}</td>
                            </tr>
                            <tr>
                                <td>Код суду</td>
                                <td>{{ item.number }}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
