    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Інформація про суддю</h3>
                    </div>
                    <br>
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive">
                            <tr>
                                <td>Ім'я судді</td>
                                <td>{{ item.name }}</td>
                            </tr>
                            <tr>
                                <td>Прізвище судді</td>
                                <td>{{ item.surname }}</td>
                            </tr>
                            <tr>
                                <td>По-батькові судді</td>
                                <td>{{ item.middlename }}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
