<div class="form-group" ng-controller="JudgeCtrl">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h2 class="panel-title">Судді</h2>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <a href="#/judge/add" type="button" class="btn btn-primary ">Додати суддю</a>
                        <button type="button" class="btn btn-primary" ng-model="archiveFlag" btn-checkbox >Архів</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="text-center">

                </div>
                <table class="table table-striped table-bordered table-list"
                       st-table="displayedCollection" st-safe-src="judgeList">
                    <thead>
                    <tr >

                        <th st-sort="name" class="pointer">Ім'я</th>
                        <th st-sort="middlename" class="pointer">По-батькові</th>
                        <th st-sort="surname" class="pointer">Прізвище</th>
                        <th><em class="fa fa-cog"></em></th>

                    </tr>
                    <tr>
                        <th><input st-search="name" class="input-sm form-control" type="search"/></th>
                        <th><input st-search="middlename" class="input-sm form-control" type="search"/></th>
                        <th><input st-search="surname" class="input-sm form-control" type="search"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in displayedCollection | filter: {archive : archiveFlag}">
                        <td>{{ item.name }}</td>
                        <td>{{ item.middlename }}</td>
                        <td>{{ item.surname }}</td>
                        <td align="center">
                            <button ng-hide="archiveFlag" id = '4123' class="btn btn-default" ng-click="editStart(item)"><em class="fa fa-pencil"></em>
                            </button>
                            <button ng-hide="archiveFlag" type="button" class="btn btn-danger" data-target="#modal-1" data-toggle="modal"
                                    ng-click="$parent.todelete = item">
                                <em class="fa fa-trash"></em>

                            </button>
                        </td>
                    </tr>

                    </tbody>


                </table>


            </div>
        </div>
    </div>
    <div ng-include="'/static/app/views/deleteConfirm.html'"></div>
</div>
